.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    outline: solid red;

    @media screen and (min-width: 480px) {
        width: 351px;
        padding: 0 8px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 12px;
        width: 728px;
    }

    @media screen and (min-width: 1280px) {
        padding: 0 16px;
        width: 1344px;
    }
}