<section class="empowering">
  <div class="contatiner empowering__container">
    <div class="empowering__box">
      <svg class="empowering__svg">
        <use href="#"></use>
      </svg>
      <h3 class="empowering__title">
        Empowering educators and students through innovative educational trends
        and insights.
      </h3>
      <p class="empowering__text">
        The Educational Conference 2025 aims to foster collaboration and
        knowledge sharing among educators, students, and researchers. Attendees
        will gain valuable insights into modern teaching methodologies and
        educational technologies that can enhance their practices.
      </p>
    </div>
    <img
      src="#"
      alt="empowering photo"
      class="empowering__photo"
    />
  </div>
</section>
