<footer class="footer container">
    <div class="footer-title-box">
        <svg class="footer-title-svg">
            <use href="../img/footer.svg#icon-educonf-symbol"></use>
        </svg>
        <p class="footer-title">EduConf</p>
    </div>
        <ul class="footer-page-nav-list">
            <li class="footer-nav-list-item">
                <p class="footer-nav-item-text">Home</p>
            </li>
            <li class="footer-nav-list-item">
                <p class="footer-nav-item-text">About Us</p>
            </li>
            <li class="footer-nav-list-item">
                <p class="footer-nav-item-text">Speakers</p>
            </li>
            <li class="footer-nav-list-item">
                <p class="footer-nav-item-text">Schedule</p>
            </li>
            <li class="footer-nav-list-item">
                <p class="footer-nav-item-text">Gallery</p>
            </li>
            <li class="footer-nav-list-item">
                <p class="footer-nav-item-text">Testimonials</p>
            </li>
        </ul>
    <div class="footer-licensy-text-box">
        <p class="footer-licensy-text">© 2025 Educational Conference. All rights reserved.</p>
    </div>
</footer>