<section class="gallery">
<div class="contatiner">
<h1 class="gallery-title">
    Highlights from previous conferences
</h1>
<p class="gallery-text">Feel the energy from previous events</p>
    <ul class="gallery-list">
        <li class="gallery-item">
<img class="gallery-photo" src="./img/prezintation.webp" alt="">
        </li>
             <li class="gallery-item">
<img class="gallery-photo" src="./img/meeting.webp" alt="">
        </li>
             <li class="gallery-item">
<img class="gallery-photo" src="./img/people-speak.webp" alt="">
        </li>
             <li class="gallery-item">
<img class="gallery-photo" src="./img/laptop.webp" alt="">
        </li>
             <li class="gallery-item">
<img class="gallery-photo" src="./img/interview.webp" alt="">
        </li>
    </ul>
</div>

</section>