<section class="gallery">
  <div class="container">
    <div class="gallery-box-text">
      <h1 class="gallery-title">Highlights from previous <br> conferences</h1>
      <p class="gallery-text">Feel the energy from previous events</p>
    </div>
    <div class="gallery-all">
      <div class="gallery-img-big">
        <img class="gallery-photo1" src="./img/prezintation.webp" alt="" />
      </div>
      <div class="gallery-small">
        <ul class="gallery-list">
          <li class="gallery-item">
            <img class="gallery-photo" src="./img/meeting.webp" alt="" />
          </li>
          <li class="gallery-item">
            <img class="gallery-photo" src="./img/people-speak.webp" alt="" />
          </li>
          <li class="gallery-item">
            <img class="gallery-photo" src="./img/laptop.webp" alt="" />
          </li>
          <li class="gallery-item">
            <img class="gallery-photo" src="./img/interview.webp" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
