<section class="gallery">
  <div class="container">
    <div class="gallery-box-text">
      <h1 class="gallery-title animate__backInDown">
        Highlights from previous <br />
        conferences
      </h1>
      <p class="gallery-text">Feel the energy from previous events</p>
    </div>
<div class="gallery-box">
      <picture>
      <source
        srcset="
          ./img/gallery/desktop/prezentation@desktop-1x.webp 1x,
          ./img/gallery/desktop/prezentation@desktop-2x.webp 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./img/gallery/tablet/prezentation@tablet-1x.webp 1x,
          ./img/gallery/tablet/prezentation@tablet-2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/gallery/mobile/prezentation@mobile-1x.webp 1x,
          ./img/gallery/mobile/prezentation@mobile-2x.webp 2x
        "
        media="(max-width: 677px)"
      />
      <img class="gallery-photo1" src="./img/prezintation.webp" alt="" />
    </picture>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/desktop/meeting@desktop-1x.webp 1x,
              ./img/gallery/desktop/meeting@desktop-2x.webp 2x
            "
            media="(min-width: 1143px)"
          />
          <source
            srcset="
              ./img/gallery/tablet/meeting@tablet-1x.webp 1x,
              ./img/gallery/tablet/meeting@tablet-2x.webp 2x
            "
            media="(min-width: 700px)"
          />
          <source
            srcset="
              ./img/gallery/mobile/meeting@moblie-1x.webp 1x,
              ./img/gallery/mobile/meeting@moblie-2x.webp 2x
            "
            media="(max-width: 699px)"
          />

          <img class="gallery-photo" src="./img/meeting.webp" alt="" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/desktop/speak@desktop-1x.webp 1x,
              ./img/gallery/desktop/speak@desktop-2x.webp 2x
            "
            media="(min-width: 1143px)"
          />
          <source
            srcset="
              ./img/gallery/tablet/speak@tablet-1x.webp 1x,
              ./img/gallery/tablet/speak@tablet-2x.webp 2x
            "
            media="(min-width: 700px)"
          />
          <source
            srcset="
              ./img/gallery/mobile/speak@moblie-1x.webp 1x,
              ./img/gallery/mobile/speak@moblie-2x.webp 2x
            "
            media="(max-width: 699px)"
          />

          <img class="gallery-photo" src="./img/people-speak.webp" alt="" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/desktop/laptop@desktop-1x.webp 1x,
              ./img/gallery/desktop/laptop@desktop-2x.webp 2x
            "
            media="(min-width: 1143px)"
          />
          <source
            srcset="
              ./img/gallery/tablet/laptop@tablet-1x.webp 1x,
              ./img/gallery/tablet/laptop@tablet-2x.webp 2x
            "
            media="(min-width: 700px)"
          />
          <source
            srcset="
              ./img/gallery/mobile/laptop@moblie-1x.webp 1x,
              ./img/gallery/mobile/laptop@mobile-2x.webp 2x
            "
            media="(max-width: 699px)"
          />

          <img class="gallery-photo" src="./img/laptop.webp" alt="" />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="
              ./img/gallery/desktop/interview@desktop-1x.webp 1x,
              ./img/gallery/desktop/interview@desktop-2x.webp 2x
            "
            media="(min-width: 1143px)"
          />
          <source
            srcset="
              ./img/gallery/tablet/interview@tablet-1x.webp 1x,
              ./img/gallery/tablet/interview@tablet-2x.webp 2x
            "
            media="(min-width: 700px)"
          />
          <source
            srcset="
              ./img/gallery/mobile/interview@mobile-1x.webp 1x,
              ./img/gallery/mobile/interview@moblie-2x.webp 2x
            "
            media="(max-width: 699px)"
          />

          <img class="gallery-photo" src="./img/interview.webp" alt="" />
        </picture>
      </li>
    </ul>
</div>

  </div>
</section>
