<header>
  <div class="contatiner">
    <img class="header-logo" src="../img/header-logo.webp" alt="logo" />
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">About Us</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Speakers</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Schedule</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Gallery</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button class="header-button">
      <p class="header-button-text">Register Now</p>
    </button>
  </div>
</header>
