<section class="hero">
  <div class="container">
    <h1 class="hero__headering">Join Us for EduConf 2025</h1>
    <p class="hero__text">
      Mark your calendars for the Educational Conference 2025, happening on
      August 15-17, 2025. This event is designed for educators and innovators
      eager to explore the latest trends in education.
    </p>
    <button class="hero__button">Learn More</button>
    <img src="../img/hero.webp" alt="hero image" class="hero__image" />
  </div>
</section>
