<section class="shedule">
    <div class="container">
        <h2 class="shedule__title">Schedule</h2>
        <p class="shedule__subtitle">Explore our detailed schedule of presentations, topics, and speakers for the
            EduConf 2025.</p>
        <ul class="shedule__list">
            <li class="shedule__item">
                <p class="shedule__time">8:00 AM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Opening Keynote</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class=" shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Dr. Smith</p>
                    <p class="shedule__building">Auditorium</p>
                </div>
            </li>
            <li class="shedule__item">
                <p class="shedule__time">9:00 AM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Panel Discussion</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class=" shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Prof. Johnson</p>
                    <p class="shedule__building">Main Auditorium</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">10:00 AM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Future of Education</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Dr. Brown</p>
                    <p class="shedule__building">Webinar Room</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">11:00 AM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Innovations in AI</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class=" shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Ms. Lee</p>
                    <p class="shedule__building">Conference Hall</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">12:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Marketing Strategies</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Mr. Smith</p>
                    <p class="shedule__building">Webinar Room</p>
                </div>

            </li>
            <li class="shedule__item">
                <p class="shedule__time">1:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Design Thinking Workshop</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Dr. Patel</p>
                    <p class="shedule__building">Webinar Room</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">2:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Data Visualization Techniques</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Ms. Garcia</p>
                    <p class="shedule__building">Main Auditorium</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">3:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Ethics in Technology</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Mr. Thompson</p>
                    <p class="shedule__building">Webinar Room</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">4:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Machine Learning Basics</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Dr. Lee</p>
                    <p class="shedule__building">Main Auditorium</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">5:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">User Experience Design</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Ms. Patel</p>
                    <p class="shedule__building">Webinar Room</p>
                </div>


            </li>
            <li class="shedule__item">
                <p class="shedule__time">6:00 PM</p>
                <div class="shedule__box">
                    <p class="shedule__idea">Closing Keynote</p>
                    <p class="shedule__in-person">In-person</p>
                    <p class="shedule__online">Online</p>
                </div>
                <div class="shedule__inf">
                    <p class="shedule__member">Mr. Rodriguez</p>
                    <p class="shedule__building">Lecture Theatre</p>
                </div>

            </li>
        </ul>
        <button href="./secure.html" class="shedule__button">Register</button>
    </div>
</section>