<section class="secure">
  <container class="container secure__container">
    <div class="secure__box">
      <h2 class="secure__tittle">Secure Your Spot</h2>
      <p class="secure__text">
        Don't miss out on two days of innovation, networking, and learning.
        Complete your registration in just a few steps and get ready to be
        inspired at EduConf 2025.
      </p>
      <form class="secure__form">
        <label for="email" class="secure__label">
          Name*
          <input type="text" class="secure__input"  placeholder="Enter your full name" required />
        </label>
        <label for="email" class="secure__label">
          Email*
          <input
            type="email"
            placeholder="Enter your email address"
            class="secure__input"
            required
          />
        </label>
        <button type="submit" class="secure__button">Register Now</button>
      </form>
    </div>
    <img src="../img/secure-img.webp" alt="secure-img" class="secure__img">
  </container>
</section>
