<section class="speakers">
  <div class="container">
    <h2 class="speakers__title">Meet our Speakers</h2>
    <ul class="speakers__list">
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/david-johnson@desktop-1x.webp 1x,
              ./img/speakers/desktop/david-johnson@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/david-johnson@tablet-1x.webp 1x,
              ./img/speakers/tablet/david-johnson@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/david-johnson@mobile-1x.webp 1x,
              ./img/speakers/mobile/david-johnson@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/david-johnson.webp"
            alt="David Johnson"
            class="speakers__photo"
          />
        </picture>
        <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Prof. David Johnson</h3>
        <p class="speakers__info">Professor of Educational Policy</p>
        </div>
        <p class="speakers__text">
          With over 20 years of experience in shaping educational frameworks,
          Professor Johnson will moderate our panel discussion, bringing his
          deep understanding of policy and practice to the forefront of the
          conversation.
        </p>
        <div class="speakers__box">
          <ul class="speakers__list__icon">
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-in"></use>
              </svg>
            </li>
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-xx"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/evelyn-smith@desktop-1x.webp 1x,
              ./img/speakers/desktop/evelyn-smith@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/evelyn-smith@tablet-1x.webp 1x,
              ./img/speakers/tablet/evelyn-smith@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/evelyn-smith@mobile-1x.webp 1x,
              ./img/speakers/mobile/evelyn-smith@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/evelyn-smith.webp"
            alt="Evelyn Smith"
            class="speakers__photo"
          />
        </picture>
        <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Dr. Evelyn Smith</h3>
        <p class="speakers__info">Educational Futurist & Marketing Guru</p>
        </div>
        <p class="speakers__text">
          Dr. Smith is a renowned thought leader on the intersection of
          education and marketing. Her opening keynote will set the stage for
          the future of learning, and her later session will provide marketing
          strategies for educational institutions.
        </p>
        <div class="speakers__box">
          <svg class="speakers__icons">
            <use href="./img/symbol-defs.svg#icon-xx"></use>
          </svg>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/kenji-brown@desktop-1x.webp 1x,
              ./img/speakers/desktop/kenji-brown@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/kenji-brown@tablet-1x.webp 1x,
              ./img/speakers/tablet/kenji-brown@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/kenji-brown@mobile-1x.webp 1x,
              ./img/speakers/mobile/kenji-brown@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/kenji-brown.webp"
            alt="Kenji Brown"
            class="speakers__photo"
          />
        </picture>
         <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Dr. Kenji Brown</h3>
        <p class="speakers__info">CEO of EduInnovate Corp.</p>
        </div>
        <p class="speakers__text">
          As the founder of a leading EdTech startup, Dr. Brown is at the
          cutting edge of educational innovation. His session will explore
          transformative technologies that are shaping the future of <br> education.
        </p>
         <div class="speakers__box">
          <ul class="speakers__list__icon">
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </li>
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-xx"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/chloe-lee@desktop-1x.webp 1x,
              ./img/speakers/desktop/chloe-lee@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/chloe-lee@tablet-1x.webp 1x,
              ./img/speakers/tablet/chloe-lee@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/chloe-lee@mobile-1x.webp 1x,
              ./img/speakers/mobile/chloe-lee@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/chloe-lee.webp"
            alt="Chloe Lee"
            class="speakers__photo"
          />
        </picture>
         <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Ms. Chloe Lee</h3>
        <p class="speakers__info">Lead AI & Machine Learning Researcher</p>
        </div>
        <p class="speakers__text">
          Ms. Lee specializes in the application of artificial intelligence in
          learning environments. She will demystify complex AI concepts and
          showcase the latest innovations during her sessions on AI and Machine
          Learning basics.
        </p>
        <div class="speakers__box">
          <svg class="speakers__icons">
            <use href="./img/symbol-defs.svg#icon-in"></use>
          </svg>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/aarav-patel@desktop-1x.webp 1x,
              ./img/speakers/desktop/aarav-patel@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/aarav-patel@tablet-1x.webp 1x,
              ./img/speakers/tablet/aarav-patel@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/aarav-patel@mobile-1x.webp 1x,
              ./img/speakers/mobile/aarav-patel@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/aarav-patel.webp"
            alt="Aarav Patel"
            class="speakers__photo"
          />
        </picture>
          <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Dr. Aarav Patel</h3>
        <p class="speakers__info">UX Strategist & Design Thinking Expert</p>
        </div>
        <p class="speakers__text">
          Dr. Patel champions human-centered design in technology. He will lead
          a hands-on workshop on Design Thinking and share his expertise on
          creating intuitive user experiences for educational platforms.
        </p>
        <div class="speakers__box">
          <svg class="speakers__icons">
            <use href="./img/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/sofia-garcia@desktop-1x.webp 1x,
              ./img/speakers/desktop/sofia-garcia@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/sofia-garcia@tablet-1x.webp 1x,
              ./img/speakers/tablet/sofia-garcia@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/sofia-garcia@mobile-1x.webp 1x,
              ./img/speakers/mobile/sofia-garcia@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/sofia-garcia.webp"
            alt="Sofia Garcia"
            class="speakers__photo"
          />
        </picture>
         <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Ms. Sofia Garcia</h3>
        <p class="speakers__info">Data Scientist & Information Designer</p>
        </div>
        <p class="speakers__text">
          Ms. Garcia transforms complex data into compelling visual stories. Her<br>
          session will cover powerful data visualization techniques that can
          enhance research, reporting, and student understanding.
        </p>
        <div class="speakers__box">
          <svg class="speakers__icons">
            <use href="./img/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/ben-thompson@desktop-1x.webp 1x,
              ./img/speakers/desktop/ben-thompson@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/ben-thompson@tablet-1x.webp 1x,
              ./img/speakers/tablet/ben-thompson@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/ben-thompson@mobile-1x.webp 1x,
              ./img/speakers/mobile/ben-thompson@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/ben-thompson.webp"
            alt="Ben Thompson"
            class="speakers__photo"
          />
        </picture>
         <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Mr. Ben Thompson</h3>
        <p class="speakers__info">Technology Ethicist & Author</p>
        </div>
        <p class="speakers__text">
          Mr. Thompson is a leading voice in the discussion on digital ethics.
          He will explore the critical ethical considerations of implementing
          new technologies in education, urging a responsible approach to
          innovation.
        </p>
        <div class="speakers__box">
          <ul class="speakers__list__icon">
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="../img/symbol-defs.svg#icon-in"></use>
              </svg>
            </li>
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./img/speakers/desktop/marco-rodriguez@desktop-1x.webp 1x,
              ./img/speakers/desktop/marco-rodriguez@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/speakers/tablet/marco-rodriguez@tablet-1x.webp 1x,
              ./img/speakers/tablet/marco-rodriguez@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/speakers/mobile/marco-rodriguez@mobile-1x.webp 1x,
              ./img/speakers/mobile/marco-rodriguez@mobile-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/speakers/img/marco-rodriguez.webp"
            alt="Marco Rodriguez"
            class="speakers__photo"
          />
        </picture>
        <div class="speakers__wrapper">
        <h3 class="speakers__subtitle">Mr. Marco Rodriguez</h3>
        <p class="speakers__info">Superintendent & Education Reformer</p>
        </div>
        <p class="speakers__text">
          With a career dedicated to transforming public education, Mr.
          Rodriguez will deliver an inspiring closing keynote, reflecting on the
          conference's themes and issuing a powerful call to action for all
          attendees.
        </p>
        <div class="speakers__box">
          <ul class="speakers__list__icon">
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-in"></use>
              </svg>
            </li>
            <li class="speakers__item__icon">
              <svg class="speakers__icons">
                <use href="./img/symbol-defs.svg#icon-xx"></use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
