.attendees__container {
  margin-top: 92px;
  margin-bottom: 92px;
}

.attendees__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

.attendees__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 40px;
  width: 493px;
}

.attendees__list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.attendees__item {
  width: 387;
  @media screen and (min-width: 768px) {
    width: 213px;
  }
  @media screen and (min-width: 1200px) {
    width: 416px;
  }
}

.attendees-person {
  width: 56px;
  height: 56px;
  border-radius: 100%;
  margin-bottom: 16px;
}

.attendees__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 88px;
  width: auto;
  @media screen and (min-width: 768px) {
    width: 213px;
  }
  @media screen and (min-width: 1200px) {
    width: 387px;
  }
}

.attendees__team__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}

.attendees__team__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
}
