.empowering {
  padding-top: 150px;
  @media screen and (min-width: 768px) {
    padding-top: 150px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 150px;
  }
}
.empowering-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
            align-items: center;
  }
}
.empowering-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  @media screen and (min-width: 768px) {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
  }
  @media screen and (min-width: 1280px) {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
  }
}
.empowering-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-top: 24px;
  @media screen and (min-width: 768px) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    margin-top: 24px;
  }
  @media screen and (min-width: 1280px) {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    margin-top: 24px;
  }
}
.empowering-photo {
  width: 100%;
  height: auto;
  margin-top: 24px;
  

  @media screen and (min-width: 768px) {
    width: 340px;
    height: auto;
    margin-top: 120px;
  }
  @media screen and (min-width: 1280px) {
    width: 640px;
    height: 682px;
  }
}
.empowering-box {
  @media screen and (min-width: 768px) {
    padding-right: 24px;
        padding-top: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 0px;
    padding-right: 32px;
  }
}
.empowering-svg {
  width: 42px;
  height: 42px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    width: 44px;
    height: 42px;
    margin-bottom: 27px;
  }
  @media screen and (min-width: 1280px) {
    width: 48px;
    height: 48px;
    margin-bottom: 0px;
  }
}
