.gallery-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: black;

}
.gallery-all {
    display: flex;
}

.gallery-small {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px   ;
}

.gallery-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-top: 24px;
  margin-bottom: 40px;
}




.gallery-photo1 {
  width: 640px;
  height: 640px;
}
.gallery-photo {
  width: 304px;
  height: 304px;
}

.gallery-box-text {
text-align: center;
margin-top: 95px;
}