.gallery {
    padding-top: 64px;
    padding-bottom: 64px;
}

.gallery-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: black;

}
.gallery-all {
 


  @media screen and (min-width: 720px) {
display: flex;
  }


 @media screen and (min-width: 1280px) {
 display: flex;
 }
}

.gallery-small {

margin-top: 16px;


  @media screen and (min-width: 720px) {
        margin-left: 24px;
        margin-top: 0px;
  }
  @media screen and (min-width: 1280px) {
        display: flex;
    align-items: center;
    margin-left: 32px;

    
  }

}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;


  @media screen and (min-width: 720px) {
      display: flex;
flex-wrap: wrap;
gap: 16px;
  }



    @media screen and (min-width: 1280px) {
        display: flex;
    flex-wrap: wrap;
    gap: 32px  ;
    }
}

.gallery-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-top: 24px;
  margin-bottom: 40px;
}





.gallery-photo1 {

@media screen and (max-width: 719px) {
  max-width: 335px;
height: 335px;
}



@media screen and (min-width: 720px) {
  width: 340px;
height: 340px;
}

@media screen and (min-width: 1280px) {
    width: 640px;
  height: 640px;
}

}
.gallery-photo {

@media screen and (max-width: 719px) {
      max-width: 158px;
height: 158px;
}


@media screen and (min-width: 1280px) {
width: 304px;
height: 304px;
}


}

.gallery-box-text {
text-align: center;
margin-top: 95px;
}