.gallery {
  padding-top: 64px;
  padding-bottom: 64px;
}

.gallery-title {

font-family: var(--second-family);
font-weight: 700;
font-size: 36px;
line-height: 120%;
letter-spacing: -0.01em;
text-align: center;
color: black;
  @media screen and (min-width: 720px) {
    font-family: var(--second-family);
font-weight: 700;
font-size: 36px;
line-height: 120%;
letter-spacing: -0.01em;
text-align: center;
color: black;
  }
  @media screen and (min-width: 1200px) {
      font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: black;
  }
}
.gallery-list {
  align-items: center;
    display: flex;
  flex-wrap: wrap;
  gap: 16px ;
  
  margin-top: 19px;
@media screen and (min-width: 1200px){
margin-top: 0;
  gap: 32px;
}

  @media screen and (min-width: 720px) {
    gap: 16px;
  }
}

.gallery-item {
  flex-basis: calc((100% - 16px ) / 2);
}

.gallery-text {

  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: var(--color-scheme-1-text);
@media screen and (min-width: 720px) {
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
text-align: center;
color: black;
}
  @media screen and (min-width: 1200px) {
      font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-top: 24px;
  margin-bottom: 40px;
  }
}

.gallery-photo1 {
  width: 100%;
  height: auto;

  @media screen and (max-width: 480px) {
  
  }

  @media screen and (min-width: 768px) {
    height: 340px;
    width: 340px;
  }

  @media screen and (min-width: 1280px) {
    
     width: 640px;
    height: 640px;
 
  }
}

.gallery-photo {
  width: 100%;
    max-width: 158px;
    height: 158px;


  @media screen and (min-width: 1280px) {
width: 100%;
    max-width: 304px;
    height: 304px;
  }
}


.gallery-box-text {
  text-align: center;
}

.gallery-box {
  align-items: center;
    flex-wrap: wrap;
  display: flex;
  margin-top: 24px;

  @media screen and (min-width: 720px) {
      gap: 32px;
    flex-wrap: nowrap;
      margin-top: 24px;
  }
    @media screen and (min-width: 1200px) {
  margin-top: 24px;
  gap: 32px;
  }
  
}
