.header {
  margin-top: 20px;
  margin-bottom: 25px;
}

.header-container {
display: flex;
}

.header-logo {
  width: 158px;
  height: 37px;
}
.header-nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
  display: none;

  @media screen and (min-width: 1280px) {
      display: flex;
  }
}

.header-list {
  display: flex;
  gap: 35px;
}

.header-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: black;
}

.header-button {
  border: 1px solid var(--color-governor-bay);
  border-radius: 6px;
  padding: 8px 20px;
  width: 192px;
  height: 40px;
  background: #3444c5;
  margin-left: auto;
    display: none;

  @media screen and (min-width: 1280px) {
      display: flex;
    

    display: flex;
    align-items: center;
    justify-content: center;
  
  }
}

.header-button-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: white;


}

.header-menu-button {
  margin-left: auto;

    @media screen and (min-width: 1280px) {
    display: none;
  }
  
}

.svg-menu {
     fill: #000;
   
  width: 24px;
height: 24px;
 
}
