.header {
padding-top: 20px;
padding-bottom: 25px;
}

.header-container {
display: flex;
align-items: center;
}

.header-logo {
  width: 158px;
  height: 37px;

}
.header-nav {

  margin-left: 24px;
  display: none;

  @media screen and (min-width: 1280px) {
      display: flex;
  }
}

.header-list {
  display: flex;
  gap: 35px;
}

.header-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: black;
}

.header-button {
  border: 1px solid ;
  border-radius: 6px;
  padding: 8px 20px;
  width: 192px;
  height: 40px;
  color: white;
  background: #3444c5;
  margin-left: auto;
    display: none;
      font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      ;
  @media screen and (min-width: 1280px) {
      display: flex;
    

    display: flex;
    align-items: center;
    justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      ;
  }
}
.header-button:hover {
    border: 1px solid #3444c5;
      background: white;
 color: #000;

}



.header-menu-button {
  margin-left: auto;
  background-color: white;
    @media screen and (min-width: 1280px) {
    display: none;
  }
  
}

.svg-menu {
     fill: #000;

  width: 24px;
height: 24px;
 
}
