.header {
      margin-top: 20px;
  margin-bottom: 25px
}

.header-container {
  display: flex;

}

.header-logo {
  width: 158px;
  height: 37px;
  
}
.header-nav {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 24px;
}

.header-list {
  display: flex;
  gap: 35px;
}

.header-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: black;
}

.header-button {
  border: 1px solid var(--color-governor-bay);
  border-radius: 6px;
  padding: 8px 20px;
  width: 192px;
  height: 40px;
  background: #3444c5;
  margin-left:auto;
}

.header-button-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: white;
}


