.hero {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  &__headering {
    color: #03030a;
    font-family: Teachers;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.4px;
    margin-bottom: 24px;
    @media screen and (min-width: 1280px) {
      color: #03030a;
      font-family: Teachers;
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: -0.56px;
    }
  }
  &__text--button {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-bottom: 40px;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
    }

  }
  &__text {
    color: #03030a;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: auto;
    @media screen and (min-width: 1280px) {
        width: 1087px;
    }
  }
  &__button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 6px;
    border: 1px solid #3444c5;
    background: #3444c5;
    width: 335px;
    @media screen and (min-width: 768px) {
        align-self: start;
        width: 193px;
    }
  }
  &__button--text {
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}
