.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
background-color: white;
    z-index: 10;
    width: 100vw;
   
}
.is-hidden {
   opacity: 0;

    pointer-events: none;
}

  .menu-button-close {
         fill: #000;
   
  width: 24px;
height: 24px;
  }

  .menu-reg {
    border: 1px solid black;
    background-color: #3444C5;
border-radius: 6px;
padding: 10px 24px;
width: 335px;
height: 44px;
  }
  .menu-button-text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: white;
  }

  .menu-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: black;
  }

  .menu-button {
    margin-left: auto;
    
  }
  .menu-links {
    display: flex;
  } 
  
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px   ;
    margin-top: 13px;
margin-left: 20px;

  }

  .menu-item {
    margin-left: 0;
     margin-right: 0;
 @media screen and (min-width: 720px) {
      margin-left: auto;
  margin-right: auto;
 }
  }