.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
background-color: white;
    z-index: 10;
    width: 100vw;
   
}
.is-hidden {
   opacity: 0;

    pointer-events: none;
}

  .menu-button-close {
         fill: #000;
   
  width: 24px;
height: 24px;
  }

  .menu-reg {
    border: 1px solid black;
    background-color: #3444C5;
border-radius: 6px;
padding: 10px 24px;
width: 100%;
height: 44px;
  }
  .menu-button-text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: white;
  }

  .menu-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: black;
  }

  .menu-button {
    margin-left: auto;
    background-color: white;
  }
  .menu-links {
    display: flex;
  margin-bottom: 10px;
    margin-left: 20px;
@media screen and (min-width: 720px) {
  margin-left: 0;
}
  } 
  
  .menu-list {
    display: flex;
    flex-direction: column;
    gap: 20px   ;
margin-left: 20px;
@media screen and (min-width: 720px) {
  margin-left: 0;
}
  }

  .menu-item {
 
 @media screen and (min-width: 720px) {
 display: flex;
 justify-content: space-around;
 }
  }
  .header-logos {
      width: 158px;
  height: 37px;
  
  }