.secure {
  padding-top: 92px;
  padding-bottom: 92px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__box {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__tittle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
    margin-bottom: 24px;
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
    display: flex;
    flex-direction: column;
    gap: 8px;
    
  }

  &__input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--opacity-neutral-darkest-60);
    border: 2px solid #03030a;
    border-radius: 6px;
    padding: 8px 12px;
    width: 640px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0);
    
  }

  &__button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
    border: 1px solid var(--color-governor-bay);
    border-radius: 6px;
    padding: 10px 24px;
    width: 192px;
    height: 44px;
    background-color: #3444c5;
    margin-right: auto;
  }

  &__img {
    display: block;
    width: 640px;
    height: 547px;
  }
}
