.shedule {



    @media screen and (min-width: 480px) {
        padding-top: 104px;
        padding-bottom: 64px;
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1280px) {
        padding-top: 132px;
        padding-bottom: 92px;
    }

    &__title {
        font-family: "Teachers", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #1c1c22;
        margin-bottom: 24px;



        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            font-size: 48px;
        }
    }

    &__subtitle {
        display: block;
        font-family: "Inter", sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #1c1c22;
        width: 100%;
        max-width: 335px;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            width: 519px;
        }
    }

    &__item {
        border-top: 2px solid #1c1c22;
        display: flex;
        padding: 32px 0;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            padding: 50px 0;
            align-items: center;
            justify-content: space-between;
        }

        @media screen and (min-width: 1280px) {

            padding: 32px 0;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }

        @media screen and (min-width: 1280px) {
            flex-direction: row;
        }
    }

    &__content {
        display: flex;
        gap: 8px 16px;
        flex-direction: column;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            margin-left: 32px;
        }

        @media screen and (min-width: 1280px) {
            flex-wrap: nowrap;
            flex-direction: row;
            gap: 16px;
            margin-left: 0;
        }
    }

    &__inf {
        display: none;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            display: flex;
            gap: 16px;
        }

        @media screen and (min-width: 1280px) {
            gap: 0;
            width: 336px;
            justify-content: space-between;
        }
    }

    &__view {
        display: flex;
        gap: 16px;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {}
    }

    &__time {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #1c1c22;
        margin-bottom: 8px;


        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {
            margin-right: 16px;
            margin-bottom: 0;
        }
    }

    &__idea {
        font-family: "Teachers", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #1c1c22;



    }

    &__in-person {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #1c1c22;

        border: 2px solid #1c1c22;
        border-radius: 4px;
        padding: 4px 10px;
        width: 91px;
    }

    &__online {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #1c1c22;

        border: 2px solid #1c1c22;
        border-radius: 4px;
        padding: 4px 10px;
        width: 64px;
    }

    &__member {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1c1c22;

    }

    &__building {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1c1c22;
        text-align: left;
        width: 160px;
    }

    &__button {
        border: 1px solid #3444c5;
        border-radius: 6px;
        padding: 10px 24px;
        width: 192px;
        height: 44px;
        background: #3444c5;
        margin-top: 40px;
        max-width: 335px;
        width: 100%;

        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        display: block;
        margin-right: auto;
        margin-left: auto;
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {
            width: 192px;
        }

        @media screen and (min-width: 1280px) {
            margin-top: 92px;
        }

        &:hover {
            background-color: #fff;
            color: #1c1c22;
        }
    }
}