.shedule {
    padding-top: 132px;
    padding-bottom: 92px;

    &__title {
        font-family: "Teachers", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #1c1c22;
        margin-bottom: 24px;
    }

    &__subtitle {
        display: block;
        font-family: "Inter", sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 80px;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #1c1c22;
        width: 519px;
    }

    &__item {
        border-top: 2px solid #1c1c22;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 480px) {}

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1280px) {}
    }

    &__box {
        display: flex;
        gap: 16px;
    }

    &__inf {
        display: flex;
        width: 336px;
        justify-content: space-between;
        margin-right: 30px;


    }

    &__time {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #1c1c22;
        margin-right: 16px;
    }

    &__idea {
        font-family: "Teachers", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #1c1c22;
    }

    &__in-person {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #1c1c22;

        border: 2px solid #1c1c22;
        border-radius: 4px;
        padding: 4px 10px;
        width: 91px;
    }

    &__online {
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: #1c1c22;

        border: 2px solid #1c1c22;
        border-radius: 4px;
        padding: 4px 10px;
        width: 64px;
    }

    &__member {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1c1c22;

    }

    &__building {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #1c1c22;

    }

    &__button {
        border: 1px solid #3444c5;
        border-radius: 6px;
        padding: 10px 24px;
        width: 192px;
        height: 44px;
        background: #3444c5;

        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        display: block;
        margin-right: auto;
        margin-left: auto;

        &:hover {
            background-color: #fff;
            color: #1c1c22;
        }

        &:active {
            background-color: #707cd6;
        }
    }
}