.speakers {
    padding-top: 64px;
    padding-bottom: 64px;
  &__title {
    font-family: 'Teachers', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #03030a;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
        gap: 32px;
     
  }
  &__item {

   max-width: 335px;
  }
  &__photo {
    display: flex;
  align-content: flex-start;
    
  }
  &__wrapper {
   height: 84px;
     margin-bottom: 16px;
}
  &__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #03030a;
    margin-top: 16px;
  }
  &__info {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #03030a;
  
  }
  &__text {
    font-family: "Inter", sans-serif;;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #03030a;
  }
  &__box {
   margin-top: 16px;
}
&__list__icon {
   display: flex;
    gap: 17px;
}
&__item__icon {
}
&__icons {
  width: 18px;
  height: 18px;
}
}

@media screen and (min-width: 768px) {
  .speakers {
    padding-top: 104px;
    &__title {
    }
    &__list {
        display: flex;
      flex-direction: row;
     flex-wrap: wrap;
    //  width: calc((100% - 32px) / 2);
        
    }
    &__item {
     
    }
    &__photo {
    }
    &__subtitle {
    }
    &__info {
    }
    &__text {
    }
  }
}
@media screen and (min-width: 1280px) {
  .speakers {
    padding-top: 92px;
    padding-bottom: 92px;
    &__title {
    }
    &__list {
       
    }
    &__item {
        width: 304px;
    }
    &__photo {
    }
      &__wrapper {
      }
    &__subtitle {
    }
    &__info {
    }
    &__text {
    }
  }
}
